@charset "UTF-8";


html{
    font-size: 100%;
    scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper{
    font-family: "Shippori Mincho", serif;
    line-height: 1.7;
    color: #4a3b33;
    padding: 1.5rem;
    font-size: 16px;
    text-align: left;
}
a {
    text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 6rem;
  box-sizing: border-box;
  background-image: url(../images/cover.jpg);
}
.logo{
  align-items: flex-start;
  width: 140px;
  margin-left: -24px;
}


nav {
  display: none;
}
nav.active {
  display: block;
  position: absolute;
  top: 6rem;      /* header のすぐ下 */
  right: 0;
  width: 100%;
  background: #f5f0ea;
  z-index: 1000;
}
.main-nav a {
  display: block;
  padding: 1rem;
  font-size: 14px;
  color: #4a3b33;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.hamburger {
    display: block;
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #4a3b33;
    margin-bottom: 6px;
    transition: 0.3s;
  }


  /* メニュー開いたときのアニメ（×マークに変える） */
  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

.h1,
.h2,
.h3{
  font-family: "Zen Old Mincho", serif;
  color: #4a3b33;

}

.main-large{
  font-size: 2rem;
  text-align: center;
  color: #4a3b33;

}
  .medium-large{
    font-size: 1.2rem;
    text-align: center;
    padding: .5rem 0 1rem;
    color: #808000;
  }
.heading-large{
  color: #000000;
  text-align: center;
  padding: 1rem 0 1rem;
  font-size: 26px;
}

.concept h3{
  font-size: 17px;
    color: #808000;
    text-align: center;
    padding-bottom: 1rem;
}

.coffee {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  justify-content: center; /* ← これで中央寄せ */
  padding-left: 3rem;
}

.sweets{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  justify-content: center; /* ← これで中央寄せ */
  padding-left: 3rem;
}
.coffee img,
.sweets img{
  max-width: 150px;
  width: 100%;
}
.coffee p,
.sweets p{
  font-size: 14px;
  padding: 1rem 0;
}
.coffee h3,
.sweets h3{
  font-size: 13px
}
.info-table{
  padding:1rem 1rem;
  margin: 0 auto;
}
.info-table td{
  padding-left: 2rem;

}


.map {
    width: 100%;
    max-width: 500px; /* 適当でOK */
    margin: 1rem auto;
    padding: 1.3rem;
}


.photos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .8rem;
}
.photos img{
 width: 150px;
 height: auto;
   padding-bottom: .8rem;

}
.availability {
  padding: 2rem 0;
}
.av-btn{
  text-align: center;
}
.btn{
  display: inline-block;
  font-size: 1rem;
  background-color: #808000;
  color: #fff;
  border-radius: 8px;
  padding: .75rem 1.5rem; 
}
.btn:hover{
  transform: scale(1.05);
  transition: 0.3s ease;
  opacity: 0.9;
}
.copyright{
  text-align: center;
}
  .to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #4a3b33;
  color: white;
  font-family: "Zen Old Mincho", serif;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 100;
}

.to-top:hover {
  opacity: 1;
  transform: translateY(-5px);
}



@media (min-width: 769px) {

  nav {
    display: flex; /* PCはメニュー常時表示 */
    gap: 2rem;
    position: static; /* 必要なら固定解除 */
  }

  .hamburger {
    display: none; /* PCではハンバーガー隠す */
  }
}

  img{
    max-width: 100%;
  }
